<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Author Details</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Books</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.fullName}"></td>
        <td th:text="${author.books}"></td>
        <td><a th:href="@{/web/author/edit/{id}(id=${author.id})}">Edit</a></td>
        <td><a th:href="@{/web/author/delete/{id}(id=${author.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>